* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  /* position: sticky; */
  /* border: 5px solid red; */
  overflow: hidden;
  border: none;
  background-color: rgb(30, 67, 76);
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
nav > ul > li {
  font-size: 2rem;
  list-style-type: none;
  border: none;
}
nav > ul > li > a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
nav > ul > li > a:hover {
  background-color: white;
  color: blue;
}
.image {
  width: 100%;
  height: 650px;
  filter: brightness(80%);
}

.insideImageText {
  /* border: 10px solid red; */
  display: absolute;
  top: 200px;
}
.insideImageText > * {
  color: white;
  /* font-size: 3rem; */
}
.insideImageText > *:first-child {
  font-size: 2rem;
}
.insideImageText > *:last-child {
  font-size: 1.5rem;
}

.btnHover:hover {
  background: rgb(11, 111, 142);
  color: white;
}
/* not working right now  */
.captionAlignCenter {
  /* border: 2px solid blue; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  /* border: 2px solid blue; */
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wcome {
  font-size: 3rem;
  /* font-weight: bold; */
}
strong {
  font-weight: 8000;
  /* letter-spacing: 1px; */
}
/* style footer  */
h1 {
  /* font-size: 40px; */
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, red, blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* style About base Image  */
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
}
.img > img {
  width: 100%;
  max-height: 700px;
}
.img > .mission {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: blue;
  font-size: 1.3rem;
  /* border: 2px solid green; */
}
.coreValues {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
  padding-top: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 0px; */
}
.coreValues > .insideCore {
  display: flex;
  align-items: center;
  border: 2px solid black;
  justify-content: center;
  width: 500px;
  flex-direction: row;
  margin: 20px;
  border-radius: 30px;
}
.coreValues > .coreImage {
  float: left;
}
.coreValues > .coreDetail {
  /* border: 2px solid blue; */
  text-align: center;
}

.values {
  text-align: center;
}
.upperCore {
  background-color: #e2e2e2;
  text-align: center;
}

.imageText {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* border: 2px solid black; */
  font-size: 1.4rem;
  width: 70%;
}
.imageText > img {
  width: 400px;
}
.imageText > * {
  margin: 2rem;
}
.outBuilding {
  display: flex;
  /* text-align: center; */
  /* border: 2px solid black; */
  flex-direction: column;
}
.headingBuilding {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.outBuilding > .building {
  text-align: center;
  /* border: 2px solid green; */
  padding: 1rem;
}
.contactSocialImage {
  width: 200px;
  background-blend-mode: multiply;
}

.aboutFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
.sImages {
  text-align: center;
}
.lastFooter {
  background-color: slateblue;
  padding: 1px;
  color: white;
}

/* style contact page  */
.mapContainer {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 20px; */
  padding: 80px;
  background-color: #f2f2f2;
}
.mapText {
  /* border: 2px solid red; */
  width: 35%;
}
.map {
  /* border: 2px solid green; */
  width: 35%;
}

/* style form  */
/* form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
} */

form {
  /* border: 2px solid red; */
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  background-color: #e2e2e2;
  padding: 20px;
}
form > .send {
  color: blue;
  border-radius: 10px;
}
.fContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;

 
  height: 700px;
  color: white;
  background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg");
  background-repeat: no-repeat;
}
.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-size: 3rem;
} */

.banner {
  background-image: url("https://images.unsplash.com/photo-1581726707445-75cbe4efc586?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1176&q=80");
  background-size: cover;
  background-position: center;
  height: 700px; /* Adjust the height as needed */
  position: relative;
  /* filter: brightness(35%); */
  margin-bottom: 70px;
}

.banner .h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  text-align: center;
}
.classUs {
  margin-bottom: 90px;
}

/* styling Enroll page  */
.enroll-banner-wrapper {
  background-image: url("https://images2.publicschoolreview.com/photo/1200x924/0/5/istock-000013621266xsmall-na6gy0d5qeo0.jpg");
  background-size: cover;
  background-position: center;
  height: 700px; /* Adjust the height as needed */
  position: relative;
  /* filter: brightness(35%); */
  margin-bottom: 70px;
}

.enroll-banner-wrapper .inside-enroll {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* align-items  : center; */
  flex-direction: column;
  width: 30%;
}
.div-image {
  margin-left: 10px;
  width: 500px;
  height: 500px;
}
.girlWithText {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  padding: 3rem;
}
.text {
  margin-left: 20px;
}
/* styleing event page  */
.event-image {
  border: 1px solid green;
  width: 100%;
  height: 800px;
}
.teacher-div {
  /* border: 2px solid green;  */
  /* height: 500px; */
}
.teacher-image {
  max-width: 100%;
  height: 870px;
}
.nav-active {
  background-color: blue;
  color: white;
}

/* styleing home again  */
.cartOne {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 300px;
  height: 180px;
  margin: 10px;
  background-color: lightskyblue;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 2px 2px 3px red;
}
.cartOne:hover {
  background-color: rgb(146, 211, 233);
}

.inside-image {
  /* border: 2px solid red; */
  mix-blend-mode: multiply;
  width: 140px;
}
.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
  height: 300px;
  /* width: 100%; */
  height: auto;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
  margin-bottom: 40px;
  background-color: #e2e2e2;
}
